.panda {
    position: relative;
    width: 200px;
    margin: 50px auto;
}

.face {
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 100%;
    margin: 50px auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    z-index: 50;
    position: relative;
}

.ear {
    position: absolute;
    width: 80px;
    height: 80px;
    background: #000;
    z-index: 5;
    border: 10px solid #fff;
    left: -15px;
    top: -15px;
    border-radius: 100%;

    &:after {
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        background: #000;
        z-index: 5;
        border: 10px solid #fff;
        left: -15px;
        top: -15px;
        border-radius: 100%;
        left: 130px;
    }
}

.eye-shade {
    background: #000;
    width: 50px;
    height: 80px;
    margin: 10px;
    position: absolute;
    top: 35px;
    left: 25px;
    rotate: 220deg;
    border-radius: 25px / 20px 30px 35px 40px;

    &.rgt {
        rotate: 140deg;
        left: 105px;
    }
}

.eye-white {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    z-index: 500;
    left: 40px;
    top: 80px;
    overflow: hidden;

    &.rgt {
        right: 40px;
        left: auto;
    }
}

.eye-ball {
    position: absolute;
    width: 5px;
    height: 5px;
    left: 20px;
    top: 20px;
    max-width: 10px;
    max-height: 10px;
    transition: 0.1s;

    &:after {
        content: '';
        background: #000;
        position: absolute;
        border-radius: 100%;
        right: 0;
        bottom: 0px;
        width: 20px;
        height: 25px;
    }
}

.nose {
    position: absolute;
    height: 20px;
    width: 35px;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px 20px/ 30px 15px;
    rotate: 15deg;
    background: #000;
}

.body {
    background: #fff;
    position: absolute;
    top: 200px;
    left: -20px;
    border-radius: 100px 100px 100px 100px / 126px 126px 96px 96px;
    width: 250px;
    height: 282px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.foot {
    top: 360px;
    left: -80px;
    position: absolute;
    background: #000;
    z-index: 1400;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px 40px 39px 40px / 26px 26px 63px 63px;
    width: 82px;
    height: 120px;

    &:after {
        content: '';
        width: 55px;
        height: 65px;
        background: #222;
        border-radius: 100%;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .finger {
        position: absolute;
        width: 25px;
        height: 35px;
        background: #222;
        border-radius: 100%;
        top: 10px;
        right: 5px;

        &:after,
        &:before {
            content: '';
            position: absolute;
            width: 25px;
            height: 35px;
            background: #222;
            border-radius: 100%;
            right: 30px;
            width: 20px;
            top: 0;
        }

        &:before {
            right: 55px;
            top: 5px;
        }
    }

    &.rgt {
        left: auto;
        right: -80px;

        .finger {
            left: 5px;
            right: auto;

            &:after {
                left: 30px;
                right: auto;
            }

            &:before {
                left: 55px;
                right: auto;
            }
        }
    }
}
